.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-inline: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
  z-index: 2;
  background: #fff;
}

.btn {
  display: inline-block;
  padding: 8px 32px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

.btn a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.btn-primary {
  color: #fff;
  background: #2563eb;
}

.btn-secondary {
  color: var(--primary-color);
  background: transparent;
  margin-right: 5px;
}

.header-mobile {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  /*width: min(95%, 1200px);*/
  padding-block: 10px;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;
  display: none;
}

.logoDesktop {
  margin-right: 15px;
}

.header-mobile-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-mobile-logo a img {
  height: 32px;
}

.header-mobile-menubar {
  padding: 8px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.header-mobile-menubar:hover {
  background: #f3f4f6;
}

.header-mobile-menubar .icon {
  width: 24px;
  height: 24px;
  color: #6b7280;
}

.header-mobile-logo {
  text-align: center;
  /*margin-right: 0 !important;*/
}

.header-mobile-list {
  display: none;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.header-mobile-list li {
  list-style: none;
  padding: 8px 16px 8px 12px;
  border-left: 4px solid #fff;
  transition: all 0.2s linear;
}

.header-mobile-list li:not(:last-child) {
  margin-bottom: 15px;
}

.header-mobile-list li:hover {
  background: #eff6ff;
  border-left: 4px solid #3c82f6;
}

.header-mobile-list li a {
  text-decoration: none;
  color: #4b5563;
  font-weight: 500;
  transition: all 0.2s linear;
}

.header-mobile-list li:hover a {
  color: #1c4ed8;
}

.header-inner {
  width: min(95%, 1200px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  margin-inline: auto;
  /*background: pink;*/
  font-size: 14px;
  /*display: none;*/
}

.header-inner-right {
  display: flex;
  align-items: center;
}

.inner-menu-list {
  display: flex;
  align-items: center;
}

.inner-menu-item {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #374151;
}

.inner-menu-item:not(:last-child) {
  margin-right: 40px;
}

.inner-menu-item:hover {
  text-decoration: none;
  color: #1f2937;
}
